extends ../layout

block content
  .container
    .row
      .col-md-4
        form.form-horizontal(method="POST", action="/admin/new")
          input(name='device[_id]', type="hidden", value=device._id)

          .form-group
            label(for='inputProductId') Prouduct (model)
            select#inputProductId.form-control(name='device[productId]')
              each product in products
                if (device.productId == product.productId)
                  option(value=product.productId "selected") #{product.model}
                else
                  option(value=product.productId) #{product.model}

          .form-group
            label(for='inputNodeId') NodeID (IMEI)
            input#inputNodeId.form-control(name='device[nodeId]',type='text',value=device.nodeId)

          .form-group
            label(for='inputNodeName') NodeName (memorable name)
            input#inputNodeName.form-control(name='device[nodeName]',type='text',value=device.nodeName)

          button.btn.btn-primary(type = 'submit') Submit