extends ../layout

block content
  .container
    .row
      .col-md-4
        .card
          img.card-img-top(src="/img/AlphaSmoke.png", alt="item.nodeName")
          .card-body
            .card-title
              p.text-center.text-success= device.status
            .form-group.text-center
              .switch.switch-mini#mySwitch
                input.form-control#inputSwitch(type='checkbox' checked data-on-text='ON' data-off-text='OFF' name='operation[power]')
      .col-md-8
        .row
          .col-md-3
            //- button.btn.btn-outline-primary.btn-block(type="button", data-toggle="modal", data-target="#confModal") Configuration
          .col-md-3
            //- button.btn.btn-outline-primary.btn-block(type="button", data-toggle="modal", data-target="#operModal") Operation
            form.form-horizontal(action="/devices/cmd/" + device._id, role="form", method="POST" onsubmit="return")
              .modal.fade#confModal
                .modal-dialog.modal-md
                  .modal-content
                    .modal-header
                      h4.modal-title Configuration
                      button.close(type="button", data-dismiss="modal") &times;
                    .modal-body
                      .form-group
                        label(for='inputStandbyTime') Setting standby time (timeout in seconds) 
                        input.form-control#inputStandbyTime(type='number', name="configuration[standbyTime]")
                    .modal-body
                      .form-group
                        label(for='inputWater') Setting coffee button
                        select.form-control#inputWater(name='configuration[buttonId]')
                          option(value="0x00") Small coffee
                          option(value="0x01") Medium coffee
                          option(value="0x02") Large coffee
                          option(value="0x03") Tea
                          option(value="0x04") Espresso
                          option(value="0x05") Cappuccino
                        label(for='inputWater') Water (quantity in ml)
                        input.form-control#inputWater(type='number', name="configuration[water]")
                        label(for='inputSteam') Steam (duration in seconds)
                        input.form-control#inputWater(type='number', name="configuration[steam]")
                    .modal-footer
                      button.btn.btn-primary(type="submit") Submit
                      button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
              .modal.fade#operModal
                .modal-dialog.modal-md
                  .modal-content
                    .modal-header
                      h4.modal-title Operation
                      button.close(type="button", data-dismiss="modal") &times;

                    .modal-body
                      .form-group
                        label(for='inputWater') Coffee Drawing
                        select.form-control#inputWater(name='configuration[buttonId]')
                          option(value="0x00") Custom coffee
                          option(value="0x03") Tea
                          option(value="0x04") Espresso
                          option(value="0x05") Cappuccino
                        label(for='inputWaterUsage') Water (Usage in ml)
                        input.form-control#inputWaterUsage(type='number' name='operation[waterUsage]')
                        label(for='inputTemperature') Temperature (optional)
                        input.form-control#inputTemperature(type='number' name='operation[temperature')
                    .modal-footer
                      button.btn.btn-primary(type="submit") Submit
                      button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
        .row
          //- .col-md-3
          //-   .list-group
          //-     a.list-group-item.list-group-item-action(href="?method=keep-alive") Keep Alive
          //-     a.list-group-item.list-group-item-action(href="?method=machine-operating") Machine Operation
          //-     a.list-group-item.list-group-item-action(href="?method=error-reporting") Error Reporting
          .col-md-8
            #myAlert.alert.alert-danger.alert-dismissible.fade.show
              a.close(href="#" data-dismiss="alert") &times;
              strong Fire Alarm !!!
        .row
          .col-md-3
            canvas(data-type="linear-gauge"
                    data-width="160"
                    data-height="460"
                    data-border-radius="20"
                    data-borders="true"
                    data-bar-stroke-width="20"
                    data-minor-ticks="10"
                    data-major-ticks="0,10,20,30,40,50,60"
                    data-color-numbers="red,green,blue,transparent,#ccc,#ccc,#ccc"
                    data-color-major-ticks="red,green,blue,transparent,#ccc,#ccc,#ccc"
                    data-color-bar-stroke="#444"
                    data-value="22.3"
                    data-units="°C"
                    data-color-value-box-shadow="false"
                    data-tick-side="left"
                    data-number-side="left"
                    data-needle-side="left"
                    data-animate-on-init="true"
                    data-color-plate="transparent")
          .col-md-3
            canvas(data-type="radial-gauge"
                    data-width="300"
                    data-height="300"
                    data-units="Km/h"
                    data-title="false"
                    data-value="48.9"
                    data-animate-on-init="true"
                    data-animated-value="true"
                    data-min-value="0"
                    data-max-value="100"
                    data-major-ticks="0,20,40,60,80,100"
                    data-minor-ticks="2"
                    data-stroke-ticks="false"
                    data-highlights="[]"
                    data-color-plate="transparent"
                    data-color-major-ticks="black"
                    data-color-minor-ticks="grey"
                    data-color-title="black"
                    data-color-units="black"
                    data-color-numbers="black"
                    data-color-needle-start="rgba(240, 128, 128, 1)"
                    data-color-needle-end="rgba(255, 160, 122, .9)"
                    data-value-box="true"
                    data-animation-rule="bounce"
                    data-animation-duration="500"
                    data-font-value="Led"
                    data-font-numbers="Led"
                    data-border-outer-width="3"
                    data-border-middle-width="3"
                    data-border-inner-width="3")
                //- each item in records
                //-   p #{JSON.stringify(item.data)}
            //- - var n = 0;
            //- ul.pagination
            //-   while n < total / 10
            //-     li.page-item
            //-       a.page-link(href="?pageNo=" + n)= n++